POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=mydb

ACCESS_SECRET_KEY=fb4767d3f30c32941e8358baacbb0a01b8dd372ce87dcfa922a7cfff633bc34d
REFRESH_SECRET_KEY=ddcc1eb9bcb4d13710f18538f7cab289bfabe0ec3cee3d2aeeced5fbb54a6d96
ALG=HS256

ACCESS_EXP_TIME_MIN=30
REFRESH_EXP_TIME_DAY=15

POSTGRES_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
REDIS_URL=redis://redis:6379/0
